/* line 3, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar {
  height: 30px;
  padding: 10px 10px 0;
}
/* line 7, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar li {
  float: left;
  display: inline;
}
/* line 10, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar a {
  display: block;
  padding: 4px 10px 5px;
  color: #111111;
  text-shadow: 0 1px 0 white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #222222;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(100%, #888888));
  background: -moz-linear-gradient(top, #eeeeee, #888888 100%);
  background: linear-gradient(top, #eeeeee, #888888 100%);
  -pie-background: linear-gradient(#eeeeee, #888888);
}
/* line 19, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar a.first {
  border-left: none;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 22, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar a.last {
  border-right: none;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 25, /srv/www/api.ice/admin/app/sass/toolbar.sass */
#toolbar a.md {
  -webkit-box-shadow: inset 0 0 10px 3px #444444;
  -moz-box-shadow: inset 0 0 10px 3px #444444;
  box-shadow: inset 0 0 10px 3px #444444;
}

/* line 1, /srv/www/api.ice/admin/app/sass/sidebar.sass */
#sidebar {
  width: 160px;
  background: none repeat scroll 0 0 #5e5e5e;
  border-right: 1px solid black;
  position: absolute;
  top: 30px;
  bottom: 24px;
  left: 0;
  overflow: auto;
}
/* line 11, /srv/www/api.ice/admin/app/sass/sidebar.sass */
#sidebar h3 {
  padding: 6px;
  background: url("/img/bg/row.gif") repeat;
  line-height: 13px;
}
/* line 16, /srv/www/api.ice/admin/app/sass/sidebar.sass */
#sidebar a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #5e5e5e;
  color: white;
  text-shadow: 1px 1px 1px black;
  line-height: 13px;
}
/* line 23, /srv/www/api.ice/admin/app/sass/sidebar.sass */
#sidebar a.selected {
  background: url("/img/bg/row-selected.gif") repeat;
  border-bottom: 1px solid #383838;
}

/* line 3, /srv/www/api.ice/admin/app/sass/lib/jquery.msg.sass */
#jquery-msg-overlay {
  text-shadow: none;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 8, /srv/www/api.ice/admin/app/sass/lib/jquery.msg.sass */
#jquery-msg-bg {
  background: black;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 12, /srv/www/api.ice/admin/app/sass/lib/jquery.msg.sass */
.jquery-msg-content {
  -webkit-background-clip: padding-box;
  padding: 15px;
}

/* line 16, /srv/www/api.ice/admin/app/sass/lib/jquery.msg.sass */
.black-on-white .jquery-msg-content {
  background: white;
  color: #333333;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-box-shadow: 5px 5px 30px 0 black;
  -moz-box-shadow: 5px 5px 30px 0 black;
  box-shadow: 5px 5px 30px 0 black;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 23, /srv/www/api.ice/admin/app/sass/lib/jquery.msg.sass */
.white-on-black .jquery-msg-content {
  background: black;
  color: white;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 3, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-header {
  padding: 10px 10px 30px;
  text-align: center;
}
/* line 7, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-header h3 {
  font-weight: bolder;
  font-size: 20px;
}

/* line 11, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-content {
  padding: 0 20px;
}

/* line 14, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-row {
  padding: 0 0 10px;
}
/* line 17, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-row label.error {
  display: block;
  margin: 0 0 0 135px;
  color: red;
  clear: both;
}

/* line 23, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-row-title {
  width: 130px;
  padding: 7px 5px 0 0;
  text-align: right;
  height: 25px;
  float: left;
  display: inline;
}

/* line 30, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-row-content {
  border: 1px solid #cccccc;
  padding: 5px;
  width: 180px;
  margin: 0 30px 0 0;
  float: right;
  display: inline;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 38, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-footer {
  padding: 20px 0 5px;
  text-align: center;
}
/* line 42, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-footer input {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}
/* line 48, /srv/www/api.ice/admin/app/sass/msg.sass */
.msg-footer input:hover {
  text-decoration: underline;
}

/* line 51, /srv/www/api.ice/admin/app/sass/msg.sass */
#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* line 59, /srv/www/api.ice/admin/app/sass/msg.sass */
#msg-wrap {
  position: absolute;
}
/* line 62, /srv/www/api.ice/admin/app/sass/msg.sass */
#msg-wrap input {
  line-height: 13px;
  font-size: 13px;
  border: none;
  padding: 3px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 70, /srv/www/api.ice/admin/app/sass/msg.sass */
#msg-drop p {
  line-height: 2em;
}
