/* line 3, ../../app/sass/base.sass */
h1, h2 {
  font-size: 16px;
}

/* line 6, ../../app/sass/base.sass */
h3, h4, h5, h6 {
  font-size: 12px;
}

/* line 9, ../../app/sass/base.sass */
li {
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}

/* line 14, ../../app/sass/base.sass */
a {
  color: #b2b2b2;
  text-decoration: none;
  outline: none;
}

/* line 19, ../../app/sass/base.sass */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  color: #b2b2b2;
  line-height: 1em;
  background: none repeat scroll 0 0 #383838;
  text-shadow: 0 -1px 0 #222222;
}

/* line 27, ../../app/sass/base.sass */
#wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
