/* line 3, ../../app/sass/util.sass */
.center {
  margin-right: auto;
  margin-left: auto;
}

/* line 7, ../../app/sass/util.sass */
.align-c {
  text-align: center;
}

/* line 10, ../../app/sass/util.sass */
.align-r {
  text-align: right;
}

/* line 13, ../../app/sass/util.sass */
.float-l {
  float: left;
  display: inline;
}

/* line 16, ../../app/sass/util.sass */
.float-r {
  float: right;
  display: inline;
}

/* line 20, ../../app/sass/util.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 27, ../../app/sass/util.sass */
.clearfix {
  display: inline-block;
}

/* line 31, ../../app/sass/util.sass */
* html .clearfix {
  height: 1%;
}

/* line 34, ../../app/sass/util.sass */
.clearfix {
  display: block;
}

/* line 37, ../../app/sass/util.sass */
.hidden {
  display: none;
}

/* line 40, ../../app/sass/util.sass */
.btn {
  padding: 3px 8px 4px;
  color: #111111;
  text-shadow: 0 1px 0 white;
  border: none;
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(100%, #888888));
  background: -moz-linear-gradient(top, #eeeeee, #888888 100%);
  background: linear-gradient(top, #eeeeee, #888888 100%);
  -pie-background: linear-gradient(#eeeeee, #888888);
}
